body {
    text-align: center;
    font-family: 'Pretendard', sans-serif;
    background-image: url('images/grass.png'); /* 배경 이미지 경로 설정 */
    background-size: cover;
    background-color: #f0f0f0; /* 기본 배경색 추가 (디버깅용) */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.hole {
    width: 100px;
    height: 100px;
    background-image: url('images/hole.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.mole {
    width: 60px;
    height: 54px;
    position: absolute;
    top: 10px;
    left: 20px; /* 변경: left 값을 20px로 조정 */
    display: none;
}

.mole1 {
    background-image: url('images/panda/panda_nomal.png'); /* 기본 두더지 */
    background-size: contain; /* 변경: cover -> contain */
    background-position: center; /* 중앙에 위치하도록 설정 */
}

.mole2 {
    height: 52px;
    background-image: url('images/panda/panda_ill.png'); /* 아픈 두더지 */
    background-size: contain; /* 변경: cover -> contain */
    background-position: center; /* 중앙에 위치하도록 설정 */
}

.mole3 {
    background-image: url('images/panda/panda_gold.png'); /* 황금 두더지 */
    background-size: contain; /* 변경: cover -> contain */
    background-position: center; /* 중앙에 위치하도록 설정 */
}

#start-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
    font-family: 'Pretendard', sans-serif;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
}

#start-button:hover {
    background-color: #45a049;
}

h1, p {
    font-family: 'Pretendard', sans-serif;
    font-weight: bold;
}
